.nav{
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    align-items: center;
    padding-left: 90%;
    padding-top: 20px;
}

/*Menu*/
.menu{
    padding-top: 80px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 400px;
}
.menu__block{
    width: 30%;
    height: 80vh;
    background-color: rgba(255,255,255,0.8);
    border-radius: 5px;
    float: left;
}
.menu__hotel{
    margin-left: 10%;
}
p{
    margin-left: 5%;
}

/*Info*/
.info__block{
    margin-left: 32%;
    padding: 2%;
    width: 65%;
    height: 80vh;
    text-align:center;
    background-color: rgba(255,255,255,0.8);
    border-radius: 5px;
    font-size: 90%;
}
.upload_button{
    font-size: 10px;
    font-weight: 600;
    width: 80%;
    height: 30px;
    border-color: #1ca754;
    background-color: #abd452;
    color: #fff;
    margin: auto;
}
.delete_button{
    font-size: 10px;
    font-weight: 600;
    width: 80%;
    height: 30px;
    border-color: #c60038;
    background-color: #d71c35;
    color: #fff;
    margin: auto;
}
.login__input{
    border-color: #2b293e;
    width: 80%;
    margin:15px 0;
    height: 20px;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
}
.form__hotel{
    margin-left: 10%;
    margin-bottom: 10%;
}

small{
    font-size:15px;
}
table{
    text-align: center;
    font-size: 23px;
}
